In [1]:
import pandas as pd
# pd.set_option('display.max_colwidth', None)
# pd.reset_option('display.max_colwidth')

# LOADING DATA

In [ ]:
swiggy_df = pd.read_csv('all_data/swiggy_bangalore.csv')
zomato_df = pd.read_csv('all_data/zomato_bangalore.csv')
indian_restaurants_df = pd.read_csv('all_data/indian_restaurants_bangalore.csv')

In [3]:
zomato_df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [4]:
zomato_columns_to_keep = ['name', 'address', 'location', 'cuisines', 'rate','votes', 'approx_cost(for two people)']
zomato_df = zomato_df[zomato_columns_to_keep]
zomato_df.head()

,name,address,location,cuisines,rate,votes,approx_cost(for two people)
0,Jalsa,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Banashankari,"North Indian, Mughlai, Chinese",4.1/5,775,800
1,Spice Elephant,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Banashankari,"Chinese, North Indian, Thai",4.1/5,787,800
2,San Churro Cafe,"1112, Next to KIMS Medical College, 17th Cross...",Banashankari,"Cafe, Mexican, Italian",3.8/5,918,800
3,Addhuri Udupi Bhojana,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Banashankari,"South Indian, North Indian",3.7/5,88,300
4,Grand Village,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Basavanagudi,"North Indian, Rajasthani",3.8/5,166,600

In [5]:
nan_counts = zomato_df.isna().sum()
print(nan_counts)

name                              0
address                           0
location                         21
cuisines                         45
rate                           7775
votes                             0
approx_cost(for two people)     346
dtype: int64

In [6]:
zomato_df.describe(include='all')

,name,address,location,cuisines,rate,votes,approx_cost(for two people)
count,51717,51717,51696,51672,43942,51717.000000,51371
unique,8792,11495,93,2723,64,NaN,70
top,Cafe Coffee Day,Delivery Only,BTM,North Indian,NEW,NaN,300
freq,96,128,5124,2913,2208,NaN,7576
mean,NaN,NaN,NaN,NaN,NaN,283.697527,NaN
std,NaN,NaN,NaN,NaN,NaN,803.838853,NaN
min,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,7.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,41.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,198.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,16832.000000,NaN

In [7]:
swiggy_df.head()

,Area,Restaurant ID,Name,Rating,Rating Count,Cost for Two,Address,Cuisine,License No,Menu,Link
0,Yeshwanthpur,510172,KNEAD-O-BREADS,--,Too Few Ratings,₹ 250,"KNEAD-O-BREADS, 1042, triveni road, gokula 1st...","Fast Food,Snacks",21222180000387,Kulcha (Pack of 4) (Veg): ₹45; Multigrain Brea...,https://www.swiggy.com/restaurants/knead-o-bre...
1,Yeshwanthpur,48225,Kanti Sweets,4.3,100+ ratings,₹ 150,"Kanti Sweets, Kanti Sweets # 82/8, HMT Main R...",Sweets,11214331000823,Cocunut Holige (1 Pc) (Veg): ₹28.57; Kajjaya (...,https://www.swiggy.com/restaurants/kanti-sweet...
2,Yeshwanthpur,512476,CAKE AND BAKE,--,Too Few Ratings,₹ 200,"CAKE AND BAKE, NUMBER 59 8TH MAIN ROAD MUTHALA...","Snacks,Fast Food",21221178000964,Smilies - 6 Pcs (Veg): ₹100; Veg Nuggets -6 Pc...,https://www.swiggy.com/restaurants/cake-and-ba...
3,Yeshwanthpur,352231,M GRILL,4.0,20+ ratings,₹ 300,"M GRILL, No 2/1 Cross, MSR college Road, Mathi...","Grill,Tandoor",21220180001166,Chicken Roll (Non-veg): ₹99; Paneer Roll (Veg)...,https://www.swiggy.com/restaurants/m-grill-ms-...
4,Yeshwanthpur,524339,Idly Guru,--,Too Few Ratings,₹ 40,"Idly Guru, Yeshwanthpur 1st stage, Yeshwanthpu...",South Indian,11222332000340,Thatte Idly [2 pieces] (Veg): ₹40; Parcel Box ...,https://www.swiggy.com/restaurants/idly-guru-y...

In [8]:
swiggy_columns_to_keep = ['Name', 'Address', 'Area', 'Cuisine', 'Rating', 'Rating Count', 'Cost for Two']
swiggy_df = swiggy_df[swiggy_columns_to_keep]
swiggy_df.head()

,Name,Address,Area,Cuisine,Rating,Rating Count,Cost for Two
0,KNEAD-O-BREADS,"KNEAD-O-BREADS, 1042, triveni road, gokula 1st...",Yeshwanthpur,"Fast Food,Snacks",--,Too Few Ratings,₹ 250
1,Kanti Sweets,"Kanti Sweets, Kanti Sweets # 82/8, HMT Main R...",Yeshwanthpur,Sweets,4.3,100+ ratings,₹ 150
2,CAKE AND BAKE,"CAKE AND BAKE, NUMBER 59 8TH MAIN ROAD MUTHALA...",Yeshwanthpur,"Snacks,Fast Food",--,Too Few Ratings,₹ 200
3,M GRILL,"M GRILL, No 2/1 Cross, MSR college Road, Mathi...",Yeshwanthpur,"Grill,Tandoor",4.0,20+ ratings,₹ 300
4,Idly Guru,"Idly Guru, Yeshwanthpur 1st stage, Yeshwanthpu...",Yeshwanthpur,South Indian,--,Too Few Ratings,₹ 40

In [9]:
swiggy_df['Rating Count'] = swiggy_df['Rating Count'].str[:-9]
swiggy_df['Rating Count'] = swiggy_df['Rating Count'].str.replace('K', '000')
swiggy_df['Rating Count'] = swiggy_df['Rating Count'].str.replace('Too Fe', '10')
swiggy_df['Rating Count'].drop_duplicates()

0         10
1        100
3         20
8         50
14       500
34      1000
797     5000
1588     NaN
Name: Rating Count, dtype: object

In [10]:
indian_restaurants_df.head()

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
0,Shiro,"UB City,Vittal Mallya Road, Central Bangalore",Central Bangalore,Bangalore,"Chinese, Japanese, Asian",4.4,310,3000
1,Badmaash,"UB City,Vittal Mallya Road, Central Bangalore",Central Bangalore,Bangalore,"North Indian, Mughlai, Awadhi",4.4,66,1500
2,The Biere Club,"Vittal Mallya Road, Central Bangalore",Central Bangalore,Bangalore,"Continental, Finger Food",4.3,878,1700
3,JW Kitchen,"JW Marriott Hotel,Vittal Mallya Road, Central ...",Central Bangalore,Bangalore,"Multi-Cuisine, North Indian, Italian, Conti...",4.4,672,2500
4,Cafe Noir,"UB City,Vittal Mallya Road, Central Bangalore",Central Bangalore,Bangalore,"French, Bakery and Confectionary, Desserts, ...",4.3,188,950

In [11]:
indian_restaurants_columns_to_keep = ['Name', 'Location', 'Locality', 'Cuisine','Rating', 'Votes', 'Cost']
indian_restaurants_df = indian_restaurants_df[indian_restaurants_columns_to_keep]
indian_restaurants_df.head()

,Name,Location,Locality,Cuisine,Rating,Votes,Cost
0,Shiro,"UB City,Vittal Mallya Road, Central Bangalore",Central Bangalore,"Chinese, Japanese, Asian",4.4,310,3000
1,Badmaash,"UB City,Vittal Mallya Road, Central Bangalore",Central Bangalore,"North Indian, Mughlai, Awadhi",4.4,66,1500
2,The Biere Club,"Vittal Mallya Road, Central Bangalore",Central Bangalore,"Continental, Finger Food",4.3,878,1700
3,JW Kitchen,"JW Marriott Hotel,Vittal Mallya Road, Central ...",Central Bangalore,"Multi-Cuisine, North Indian, Italian, Conti...",4.4,672,2500
4,Cafe Noir,"UB City,Vittal Mallya Road, Central Bangalore",Central Bangalore,"French, Bakery and Confectionary, Desserts, ...",4.3,188,950

In [12]:
indian_restaurants_df['Locality'].drop_duplicates().head(50)

0                  Central Bangalore
30                   South Bangalore
55                    West Bangalore
92                    East Bangalore
159                  North Bangalore
1015                  Mysore Highway
1016     Bangalore Mangalore Highway
1017                    North Mysore
Name: Locality, dtype: object

In [13]:
print(f"Swiggy:{swiggy_df.columns}")
print(f"Zomato:{zomato_df.columns}")
print(f"Indian Restaurants:{indian_restaurants_df.columns}")

Swiggy:Index(['Name', 'Address', 'Area', 'Cuisine', 'Rating', 'Rating Count',
       'Cost for Two'],
      dtype='object')
Zomato:Index(['name', 'address', 'location', 'cuisines', 'rate', 'votes',
       'approx_cost(for two people)'],
      dtype='object')
Indian Restaurants:Index(['Name', 'Location', 'Locality', 'Cuisine', 'Rating', 'Votes', 'Cost'], dtype='object')

In [14]:
# Standardize column names across all dataframes to a common format
swiggy_df.columns = ['name', 'address', 'location', 'cuisines', 'rating', 'rating_count', 'cost_for_two']
zomato_df.columns = ['name', 'address', 'location', 'cuisines', 'rating', 'rating_count', 'cost_for_two']
indian_restaurants_df.columns = ['name', 'address', 'location', 'cuisines', 'rating', 'rating_count', 'cost_for_two']

# Display the updated column names
print(f"Swiggy: {swiggy_df.columns}")
print(f"Zomato: {zomato_df.columns}")
print(f"Indian Restaurants: {indian_restaurants_df.columns}")

Swiggy: Index(['name', 'address', 'location', 'cuisines', 'rating', 'rating_count',
       'cost_for_two'],
      dtype='object')
Zomato: Index(['name', 'address', 'location', 'cuisines', 'rating', 'rating_count',
       'cost_for_two'],
      dtype='object')
Indian Restaurants: Index(['name', 'address', 'location', 'cuisines', 'rating', 'rating_count',
       'cost_for_two'],
      dtype='object')

In [15]:
zomato_df['rating'] = zomato_df['rating'].str.replace('/5', '')
zomato_df

,name,address,location,cuisines,rating,rating_count,cost_for_two
0,Jalsa,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Banashankari,"North Indian, Mughlai, Chinese",4.1,775,800
1,Spice Elephant,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Banashankari,"Chinese, North Indian, Thai",4.1,787,800
2,San Churro Cafe,"1112, Next to KIMS Medical College, 17th Cross...",Banashankari,"Cafe, Mexican, Italian",3.8,918,800
3,Addhuri Udupi Bhojana,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Banashankari,"South Indian, North Indian",3.7,88,300
4,Grand Village,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Basavanagudi,"North Indian, Rajasthani",3.8,166,600
...,...,...,...,...,...,...,...
51712,Best Brews - Four Points by Sheraton Bengaluru...,"Four Points by Sheraton Bengaluru, 43/3, White...",Whitefield,Continental,3.6,27,"1,500"
51713,Vinod Bar And Restaurant,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Whitefield,Finger Food,NaN,0,600
51714,Plunge - Sheraton Grand Bengaluru Whitefield H...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Whitefield,Finger Food,NaN,0,"2,000"
51715,Chime - Sheraton Grand Bengaluru Whitefield Ho...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,"ITPL Main Road, Whitefield",Finger Food,4.3,236,"2,500"
51716,The Nest - The Den Bengaluru,"ITPL Main Road, KIADB Export Promotion Industr...","ITPL Main Road, Whitefield","Finger Food, North Indian, Continental",3.4,13,"1,500"

In [16]:
print(f"Swiggy:{swiggy_df.shape}")
print(f"Zomato:{zomato_df.shape}")
print(f"Indian Restaurants:{indian_restaurants_df.shape}")

# count of nulls in each dataframe each column

print(f"Swiggy:\n{swiggy_df.isnull().sum()}")
print(f"Zomato:\n{zomato_df.isnull().sum()}")
print(f"Indian Restaurants:\n{indian_restaurants_df.isnull().sum()}")

Swiggy:(16701, 7)
Zomato:(51717, 7)
Indian Restaurants:(1019, 7)
Swiggy:
name               3
address         1399
location           0
cuisines        1399
rating             3
rating_count    1399
cost_for_two    1399
dtype: int64
Zomato:
name               0
address            0
location          21
cuisines          45
rating          7775
rating_count       0
cost_for_two     346
dtype: int64
Indian Restaurants:
name            0
address         0
location        0
cuisines        0
rating          0
rating_count    0
cost_for_two    0
dtype: int64

In [17]:
swiggy_df['source'] = 'Swiggy' 
zomato_df['source'] = 'Zomato'
indian_restaurants_df['source'] = 'Indian Restaurants'

In [18]:
# merged_df = pd.merge(swiggy_df, zomato_df, left_on=['Name','Area'], right_on=['name','location'], how='inner')
df = pd.concat([swiggy_df, zomato_df, indian_restaurants_df], axis=0)
df

,name,address,location,cuisines,rating,rating_count,cost_for_two,source
0,KNEAD-O-BREADS,"KNEAD-O-BREADS, 1042, triveni road, gokula 1st...",Yeshwanthpur,"Fast Food,Snacks",--,10,₹ 250,Swiggy
1,Kanti Sweets,"Kanti Sweets, Kanti Sweets # 82/8, HMT Main R...",Yeshwanthpur,Sweets,4.3,100,₹ 150,Swiggy
2,CAKE AND BAKE,"CAKE AND BAKE, NUMBER 59 8TH MAIN ROAD MUTHALA...",Yeshwanthpur,"Snacks,Fast Food",--,10,₹ 200,Swiggy
3,M GRILL,"M GRILL, No 2/1 Cross, MSR college Road, Mathi...",Yeshwanthpur,"Grill,Tandoor",4.0,20,₹ 300,Swiggy
4,Idly Guru,"Idly Guru, Yeshwanthpur 1st stage, Yeshwanthpu...",Yeshwanthpur,South Indian,--,10,₹ 40,Swiggy
...,...,...,...,...,...,...,...,...
1014,Nandi Upachar,"Devanahalli, North Bangalore",North Bangalore,South Indian,4.0,5,400,Indian Restaurants
1015,Empire Restaurant,"Somanahalli, Mysore Highway",Mysore Highway,"North Indian, Kerala, South Indian, Seafood...",4.1,5,700,Indian Restaurants
1016,Empire Restaurant,"Kunigal, Bangalore Mangalore Highway",Bangalore Mangalore Highway,"North Indian, Kerala, South Indian, Seafood...",3.9,8,700,Indian Restaurants
1017,Empire Restaurant,"VV Mohalla, North Mysore",North Mysore,"North Indian, Kerala, South Indian, Seafood...",3.9,22,700,Indian Restaurants
1018,Chai Nagri,"Koramangala, South Bangalore",South Bangalore,"Fast Food, Coffee, Tea, Shakes",5.0,1,500,Indian Restaurants

In [19]:
print(f"{df.isnull().sum()}")

name               3
address         1399
location          21
cuisines        1444
rating          7778
rating_count    1399
cost_for_two    1745
source             0
dtype: int64

In [20]:
df['rating'] = df['rating'].replace('--', pd.NA)
df = df.drop_duplicates(subset=['name', 'location'])
df = df.drop_duplicates(subset=['name', 'address'])
df['cost_for_two'] = df['cost_for_two'].str.replace('₹', '').str.strip()
df['rating'] = pd.to_numeric(df['rating'], errors='coerce')
df['rating_count'] = pd.to_numeric(df['rating_count'], errors='coerce')
df['cost_for_two'] = pd.to_numeric(df['cost_for_two'], errors='coerce')

# Since all columns are required for the recommendation system, we will drop rows with any null values 
df = df.dropna()
df

,name,address,location,cuisines,rating,rating_count,cost_for_two,source
1,Kanti Sweets,"Kanti Sweets, Kanti Sweets # 82/8, HMT Main R...",Yeshwanthpur,Sweets,4.3,100.0,150.0,Swiggy
3,M GRILL,"M GRILL, No 2/1 Cross, MSR college Road, Mathi...",Yeshwanthpur,"Grill,Tandoor",4.0,20.0,300.0,Swiggy
8,Cafe Coffee Day,"Cafe Coffee Day, Cafe Coffee day.Hpcl Petrol b...",Yeshwanthpur,"Beverages,Snacks",4.1,50.0,300.0,Swiggy
10,Mamma Rotti Family Restaurant,"Mamma Rotti Family Restaurant, No 10, MES Road...",Yeshwanthpur,"North Indian,Chinese",3.7,20.0,400.0,Swiggy
11,The Dessert Zone,"The Dessert Zone, No 63,1ST FLOOR, ABOVE KINGS...",Yeshwanthpur,"Bakery,Desserts",4.0,50.0,200.0,Swiggy
...,...,...,...,...,...,...,...,...
51611,Chung Wah,"Unit 04-01, 4th floor, Ascendas Park Square Ma...","ITPL Main Road, Whitefield","Chinese, Momos",2.5,73.0,800.0,Zomato
51614,Nawabs Empire,"107/PA, ITPL Main Road, Whitefield, Bangalore","ITPL Main Road, Whitefield","North Indian, Chinese, Arabian, Momos",3.2,5.0,300.0,Zomato
51620,Fujian Express,"Food Court, Ascendas Park Square Mall, Whitefi...","ITPL Main Road, Whitefield","Thai, Chinese, Momos",3.8,182.0,600.0,Zomato
51632,SeeYa Restaurant,"44, Kodigehalli to Hoodi Main Road, Mahadevapu...",KR Puram,"North Indian, Kerala, Chinese",3.3,4.0,350.0,Zomato
51677,Bhagini,"139/C1, Next To GR Tech Park, Pattandur Agraha...",Whitefield,"Andhra, South Indian, Chinese, North Indian",2.5,81.0,800.0,Zomato

In [ ]:
df.to_csv('all_data/merged_restaurant_data.csv',index=False)
df.to_csv('Data/merged_restaurant_data.csv',index=False)